<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wether API</title>
</head>
<body>
        <% if (locals.data) { %>
        <h2>Current Weather</h2>
        <p>Temperature: <%= data.current.temp %>°C</p>
        <p>Humidity: <%= data.current.humidity %>%</p>
        <p>Wind Speed: <%= data.current.wind_speed %> m/s</p>
        <p>Weather: <%= data.current.weather[0].description %></p>
    <% } %>
</body>
</html>